# Password to generate Secure-Preference
secure_preference_password=""

# Salt which will be used with password above to generate key
secure_preference_salt=""

# Google Play License from Google Developer Console (Services & API tab)
google_play_Base64_license=""

# SKU ID from Google Developer Console
sku_premium_1=""